    <nav class="nav">
      <ul class="nav__navlist">
        <li class="nav__navlist__navelement"><a class="nav__navlist__navelement__link link" href="/"><img class="nav__navlist__navelement__link__img"
              src="/assets/home.svg" alt="">
            <p class="nav__navlist__navelement__link__text">
              Главная
            </p>
          </a></li>
        <li class="nav__navlist__navelement"><a class="nav__navlist__navelement__link link" href="/blog"><img class="nav__navlist__navelement__link__img"
              src="/assets/blog.svg" alt="">
            <p class="nav__navlist__navelement__link__text">
              Блог
            </p>
          </a></li>
        <li class="nav__navlist__navelement"><a class="nav__navlist__navelement__link link" href="/resume"><img class="nav__navlist__navelement__link__img"
              src="/assets/info.svg" alt="">
            <p class="nav__navlist__navelement__link__text">
              Резюме
            </p>
          </a></li>
      </ul>
    </nav>